# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
।समायोजन/
मैं
# निष्पादन योग्य
*.स्वफ
*।वायु
*.आईपीए
*.apk
मैं
#सुरक्षित
# बाहर चला गया और अन्य गेम
# कल्या जानकारी / गलत बिलिंग के बारे में।
https://instagram.com/alone_boy890_ ?igshid = YmMyMTA2M2Y = मैं
